#myCanvas {
    border: 1px solid #c0c0c0;
    background-color: #e8e8e8;
}

/* モーダル */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.modal.inactive {
    pointer-events: none; /* ユーザーのインタラクションを無効にする */
    opacity: 0.5; /* 視覚的に非アクティブ状態を示す */
}
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
}
#action-selection-modal .modal-content {
    margin-top: 15%;
}
#part-number-modal .modal-content {
    margin-top: 20%;
}
#transition-image-modal .modal-content {
    margin-top: 20%;
}
.modal-content  .modal-action {
    text-align: right;
    margin-top: 20px;
}
/* アクション選択モーダル */
#action-selection-modal label {
    display: block;
}
#action-selection-modal input[type="radio"] {
    margin-right: 8px;
}
/* 部位番号登録モーダル */
#part-number-input {
    height: 21px; /* 遷移先画像登録モーダルのinputの高さに揃える */
}
/* 遷移先画像登録モーダル */
#action-selection-modal .modal-body {
    display: flex;
    align-items: center;
    justify-content: left;
}
#transition-image-input {
    width: 50%;
    height: 21px; /* 参照ボタンの高さに揃える */
}
